<h2>Edit Step</h2>

<form action="/timeline/<%= step.timelineId %>/<%= step.id %>/edit" class="edit-form" role="form">
  <div class="form-group">
    <label for="stepname">Step Name</label>
    <input type="text" class="form-control" id="stepname" placeholder="Step name" name="stepname" value="<%= step.stepname %>">
  </div>
  <div class="form-group">
    <label for="stepdesc">Step Description</label>
    <input type="text" class="form-control" id="stepdesc" placeholder="Description of step" name="stepdesc" value="<%= step.stepdesc %>">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<a href="/timeline/<%= step.timelineId %>">&larr; Back</a>

