<h3 class="page-title">Your Timelines</h3>


<% timelines.forEach(function(timeline) { %>

	<div class="panel panel-default">
		<div class="panel-body">

			<div class="row">	

				<div class="col-xs-12 col-sm-8 timeline-info">	
					<h2 class="timeline-title"><%= timeline.title %></h2>
					<h5><%= timeline.description %></h5>
				</div> 


					


				<div class="col-xs-12 col-sm-4" style="display: flex; justify-content: center;">
					<div id="addStep<%= timeline.id %>" class="<% if (timeline.steps.length > 0) { %> hidden <% } %>">
						<p>timeline steps length: <%= timeline.steps.length %></p>
						<a href="/timeline/<%= timeline.id %>/addstep" class="btn btn-primary">Add Steps</a> 
					</div>

					<div id="toggleControl" class="toggleClosed <% if (timeline.steps.length == 0) { %> hidden <% } %>" style="display:flex; justify-content: space-around; flex-direction: column;">

		  				<div class="timelineButtonContainer">
							<a href="/timeline/<%= timeline.id %>" class="btn btn-info glyphicon glyphicon-edit"></a> 

		  					<a href="/<%= timeline.id %>/share" class="btn btn-warning glyphicon glyphicon-envelope"></a>

		  					<a href="/timeline/<%= timeline.id %>/delete" data-timeline="<%= timeline.id %>" class="btn btn-danger  delete-timeline glyphicon glyphicon-trash"></a>
		  				</div>

		  				<div>
							<div class="btn btn-default expandButton" id="expand<%= timeline.id %>" data-timeline="<%= timeline.id %>">
								<i class="fa fa-plus"> </i> Update progress
							</div>

							<div class="btn btn-default retractButton hideRetract" id="retract<%= timeline.id %>" data-timeline="<%= timeline.id %>">	
							<i class="fa fa-minus"> </i> Hide progress
							</div>
						</div>

					</div>
				</div>

			</div>


			<div class="row updateContainer" id="updateContainer<%= timeline.id %>">
				

					<% timeline.steps.forEach(function(step){ %>

					<div class="row stepContainer">
					<hr>
						<div class="col-xs-12 col-sm-6">
							<div class="stepTitle"><%= step.stepname %></div>
							<div class="stepDesc"><%= step.stepdesc %></div>
							<div class="stepStatus"><%= step.status %></div>
							<div class="stepPosition"><%= step.steppos %></div>	
						</div>


						<div class="col-xs-12 col-sm-6 text-center">
							<div class="row">
								<form action="/timeline/<%= step.id %>/update" method="POST" class="step-status">
			    			
					    			<div class="col-xs-4 stepStatus">
					    				<label for="todo" class="status"> To Do</label><input type="radio" class="statusradio" name="status_<%= step.id %>" value="1" <% if ( step.status == 1) { %> checked <% } %>>
					    			</div>

					    			<div class="col-xs-4 stepStatus">
					    				<label for="inProgress" class="status">In Progress</label><input type="radio" class="statusradio" name="status_<%= step.id %>" value="2" <% if ( step.status == 2) { %> checked <% } %>>
					    			</div>

					    			<div class="col-xs-4 stepStatus">
					    				<label for="complete" class="status">Complete</label><input type="radio" class="statusradio" name="status_<%= step.id %>" value="3" <% if (step.status == 3) { %> checked <% } %>>
					    			</div>

				    			</form>
			    			</div>
		    			</div>

	    			</div>

					<%	});	%>

				
			</div>

		</div>
	</div>			
		
<% }); %>


   


