<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Progress Tracker</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">

</head>
<body>
<div class="viewer-page">

	<div class="row">

		<div class="col-xs-12">
			<h2 class="timeline-title"><%= timeline.title %></h2>
		</div>
		<div class="col-xs-12">
			<h4 class="shareDescription"><%= timeline.description %></h4>
		</div>
	</div>

	<div class="viewer-status-container">

		<div>
			<% timeline.steps.forEach(function(step){ %>

				<div class="shareStepRow">


					<div class="stepShareIconContainer">	
						<div id="<%= step.id %>" class="stepui <%= step.status %>"></div>
					</div>

					<div>
						<div class="stepTitle" style="padding-top: 10px;"><%= step.stepname %></div>
						<%= step.stepdesc %> 
					</div>

				</div>

			<%	});	%>
		</div>

	</div>
</div>


    <script src="//code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>


</body>
</html>




