<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Progress Tracker</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body>
<div class="container" style="max-width: 800px;">

	<div class="row">

		<div class="col-xs-12">
			<h1><%= timeline.title %></h1>
		</div>
		<div class="col-xs-12">
			<h4><%= timeline.description %></h4>
		</div>
	</div>

	<hr>

	<div>

		<% timeline.steps.forEach(function(step){ %>

			<div class="shareStepRow">
				<div class="stepShareIconContainer">
					<h3><%= step.stepname %></h3>
					<%= step.stepdesc %> 
				</div>

				<div class="stepShareIconContainer">	
					<div id="<%= step.id %>" class="stepui <%= step.status %>"></div>
				</div>
			</div>

		<%	});	%>
	</div>
</div>


    <script src="//code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>


</body>
</html>




