

<div class="row">

	<div class="col-xs-12">
		<h3><%= timeline.title %></h3>
	</div>
	<div class="col-xs-12">
		<h4><%= timeline.description %></h4>
	</div>
	<a href="/timeline/<%= timeline.id %>/editinfo" class="btn btn-info glyphicon glyphicon-edit"></a> 
</div>

<hr>

<div>
	<ul class="list-unstyled">
		<% timeline.steps.forEach(function(step){ %>
		<li>
			<a href="<%= timeline.id %>/<%= step.id %>/stepup" class="reorder-up"> 
				<span class="glyphicon glyphicon-arrow-up"></span>
			</a>

			<a href="<%= timeline.id %>/<%= step.id %>/stepdown" class="reorder-down">
				<span class="glyphicon glyphicon-arrow-down"></span>
			</a>

			<strong><%= step.stepname %></strong>
			<%= step.stepdesc %>  	
			
			<a href="/timeline/<%= step.id %>/edit" class="btn btn-info glyphicon glyphicon-edit"></a> 

  			<a href="/timeline/<%= timeline.id %>/<%= step.id %>/delete" data-timeline="<%= timeline.id %>" class="btn btn-danger glyphicon glyphicon-trash delete-btn"></a>
		</li>
		<%	});	%>

	</ul>

<a href="/<%= timeline.id %>/share" class="btn btn-info">Share Timeline</a>
<a href="/timeline/<%= timeline.id %>/status" class="btn btn-info">Update Status</a>
</div>


<div class="row">
	<a href="/timeline/<%= timeline.id %>/addstep" class="btn btn-primary">Add/Edit Steps</a>

</div>