<h2>this is the new timeline youve just created</h2>

<div class="row">

	<div class="col-xs-6">
		<h4>Timeline Title:</h4>
		<h4><%= timeline.title %></h4>
	</div>
	<div class="col-xs-6">
		<h4>Description:</h4>
		<h4><%= timeline.description %></h4>
	</div>
</div>

		<% timeline.steps.forEach(function(step){ %>
			<strong>
			<%= step.stepname %>"> 
			<%= step.stepdesc %>  
			</strong>

		<%	});	%>

<div class="row">
	<a href="/timeline/<%= timeline.id %>/edit" class="btn btn-primary">Add/Edit Steps</a>
</div>