<h3 class="page-title">Edit timeline</span></h3>


<div class="row">

	<div class="col-xs-12" style="display: flex; justify-content: space-between;">
		<div style="display: flex;">
			<h2 class="timeline-title"><%= timeline.title %></h2> 
		</div>
		<div class="verticalContainer" style="flex-direction: row;">
			<a href="/timeline/<%= timeline.id %>/editinfo" class="btn btn-info glyphicon glyphicon-edit" style="margin-right: 10px;"></a> 

  			<a href="/timeline/<%= timeline.id %>/delete" data-timeline="<%= timeline.id %>" class="btn btn-danger delete-btn glyphicon glyphicon-trash"></a>
  		</div>
	</div>

	<div class="col-xs-12" style="color: #fff; margin-bottom: 10px;">
		<h5><%= timeline.description %></h5>
	</div>
		
</div>


<div class="panel panel-default">
	<div class="panel-body">
	<ul class="list-unstyled">
		<% timeline.steps.forEach(function(step){ %>

		<li>
			<div class="editStepContainer" style="display: flex;">
				<div style="display: flex;">
					<div class="repositionStep verticalContainer">	
						<a href="<%= timeline.id %>/<%= step.id %>/stepup" class="reorder-up" style="display: block;"> 
							<span class="glyphicon glyphicon-arrow-up" style="font-size: 18px; color: #5bc0de;"></span>
						</a>
						</br>
						<a href="<%= timeline.id %>/<%= step.id %>/stepdown" class="reorder-down" style="display: block;">
							<span class="glyphicon glyphicon-arrow-down" style="font-size: 18px; color: #5bc0de;"></span>
						</a>
					</div>

					<div class="verticalContainer" style="padding-bottom: 5px;">
						<div class="stepTitle"><%= step.stepname %></div>
						<div class="stepDesc"><%= step.stepdesc %></div>
					</div>
				</div>

				<div class="verticalContainer" style="flex-direction: row;">
					<a href="/timeline/<%= step.id %>/edit" class="btn btn-info glyphicon glyphicon-edit" style="margin-right: 10px;"></a> 

	  				<a href="/timeline/<%= timeline.id %>/<%= step.id %>/delete" data-timeline="<%= timeline.id %>" class="btn btn-danger  delete-btn glyphicon glyphicon-trash"></a>
	  			</div>

			</div>
			<hr>






		</li>
		<%	});	%>

	</ul>

	<div class="row text-center">
		<a href="/timeline/<%= timeline.id %>/addstep" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>&nbsp; Add Step</a>
	</div>

	</div>

</div>
 
	<div class="row" style="padding-left: 15px;">
		<a href="/timeline/all" class="btn btn-primary" ">Done</a>
	</div>


