

<div class="row">

	<div class="col-xs-12">
		<h3><%= timeline.title %></h3>
	</div>
	<div class="col-xs-12">
		<h4><%= timeline.description %></h4>
	</div>
</div>

<hr>

<div>
	<ul class="list-unstyled">
		<% timeline.steps.forEach(function(step){ %>
		<li>
			<strong><%= step.stepname %></strong>
			<%= step.stepdesc %>  	
			<a href="/timeline/<%= step.id %>/edit" class="btn btn-info glyphicon glyphicon-edit"></a>
  			<a href="/timeline/<%= timeline.id %>/<%= step.id %>" class="btn btn-danger glyphicon glyphicon-trash delete-btn"></a>
		</li>
		<%	});	%>

	</ul>
</div>


<div class="row">
	<a href="/timeline/<%= timeline.id %>/addstep" class="btn btn-primary">Add/Edit Steps</a>

</div>