

<div class="row">

	<div class="col-xs-12">
		<h4><%= timeline.title %></h4>
	</div>
	<div class="col-xs-12">
		<h5><%= timeline.description %></h5>
	</div>
</div>

<div>
	<ul>
		<% timeline.steps.forEach(function(step){ %>
		<li>
			<strong><%= step.stepname %></strong>
			<%= step.stepdesc %>  			
		</li>
		<%	});	%>

	</ul>
</div>


<div class="row">
	<a href="/timeline/<%= timeline.id %>/edit" class="btn btn-primary">Add/Edit Steps</a>

</div>